body {
    background-color: grey;
}

img {
    width: 400px;
    height: 400px;
}

img:hover {
    transform: rotate(360deg) translate(40px);
    transition: 5s;
}

h1 {
    width: 300px;
    color: red;
}

h1:hover {
    color: yellow;
}

h2:hover {
    color: blue;
}


button {
    background-color: blue;
    width: 200px;
    height: 40px;
    color: white;
}